/* RESET DO CSS */
* {
    margin: 0px;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, p {
    text-align: center;
    margin: 11px;
}

header {
    background-color: rgb(76, 137, 187);
    color:azure;
    margin: 73px;
}

main {
    flex: 1;
    background-color: rgb(238, 232, 224);
    height: 600px;
}
